body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins';
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
a{
    text-decoration: none;
    color:#fff;
    font-weight: 700;
    font-size:1.2rem;

}
i{
    cursor: pointer;
    font-family: 1.4rem;
    color:#ddd;
    font-weight: 800;
}


header{
width:100%;
height:100px;
display: flex;
justify-content: center;
justify-content: space-between;
margin:0;
background-color: #11052C;
 background-blend-mode: screen;
}
header nav{
    margin-top: 50px;
    
}
header nav button{
    border-radius: 50px;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    border: none;
    padding: 10px 5px;
}
header nav a{
    margin: 0 10px;
}

form{
    margin:25vh auto;
    width: 700px;
    height:50vh;
    box-shadow: 0 5px 10px rgb(0,0,0,0.5);
    background-color: #e9ecefde;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content:space-evenly;
    border-radius:2px;
}
form input{
    border-radius: 2rem;
    border: none;
    font-size: 1.1rem;
    background-color: #C8C6C6;
    margin: 0 10px;
}

form h4{
    color:#2D46B9;
    font-weight:700;
    cursor: pointer;
}

form button{
border: none;
cursor: pointer;
background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
font-size: 1.2rem;
margin: 0 35px;
border-radius:2rem;
font-weight:600;
color: #fff;
}
form button:hover{
    transform:scale(1.015);
}
form div{
    width: 100%;
}