body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins';
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    
}
a{
    text-decoration: none;
    color:#fff;
    font-weight: 700;
    font-size:1.2rem;

}
i{
    cursor: pointer;
    font-family: 1.4rem;
    color:#ddd;
    font-weight: 800;
}


header{
width:100%;
position:relative;
height:100px;
display: flex;
justify-content: center;
justify-content: space-between;
margin:0;
background-color: #11052C;
 background-blend-mode: screen;
}


header nav{
    margin-top: 50px;
    
}
header nav button{
    border-radius: 20px;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    border: none;
    padding: 10px 5px;
}
header nav a{
    margin: 0 10px;
}

.trivia-content{
    width:800px;
    height:80vh;
    background-color: #e9ecef;
    margin: 20vh auto;
    text-align: center;
    border-radius:2px;
    position: relative;
    box-shadow: 0 5px 10px rgb(0,0,0,0.5);
}

.questions{
   width:100%;
   height:4rem;
   padding:40px 0;
}
.questions h2{
    color:#000114;
}

.option-content{
    width:750px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    margin: 5px auto;

}
.option-content .opciones{
    width:100%;
    text-align: center;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    margin-top: 10px;
    border-radius:2px;
    font-weight: 600;
    font-size:1rem;
    cursor: pointer;

    
    
}
.option-content .opciones h3{
    color: #fff;
}

.option-content .opciones:hover{
    transform: scale(1.015);
    transform: transform 100ms;
}